<header class="px-5 w-full flex items-center justify-between">
  <ul class="flex items-center space-x-4">
    <li class="w-10 h-10 cursor-pointer" routerLink="/">
      <img
        src="https://www.pikpng.com/pngl/b/193-1938138_check-it-out-gaming-logo-design-transparent-clipart.png"
        width="40"
        height="40"
        alt="logo"
        class="w-full h-full bg-cover" />
    </li>
    <li
      *ngFor="let item of nav"
      class="py-5 cursor-pointer"
      [routerLink]="item.link"
      routerLinkActive="text-white border-y-4 border-b-green-400 border-t-transparent"
      [routerLinkActiveOptions]="{ exact: true }">
      {{ item.title }}
    </li>
  </ul>
  <ul class="flex items-center space-x-4" *ngIf="!isAuth; else profile">
    <li
      *ngFor="let item of guestNav"
      class="py-5 cursor-pointer"
      [routerLink]="item.link"
      routerLinkActive="text-white border-y-4 border-b-green-400 border-t-transparent">
      {{ item.title }}
    </li>
  </ul>
  <ng-template #profile>
    <ul class="flex items-center space-x-4">
      <li
        class="py-5 cursor-pointer"
        [routerLink]="authNav[0].link"
        routerLinkActive="text-white border-y-4 border-b-green-400 border-t-transparent">
        {{ authNav[0].title }}
      </li>
      <li
        *ngIf="isAdmin"
        class="py-5 cursor-pointer"
        [routerLink]="authNav[1].link"
        routerLinkActive="text-white border-y-4 border-b-green-400 border-t-transparent">
        {{ authNav[1].title }}
      </li>
    </ul>
  </ng-template>
</header>
