<div *ngIf="isLoading">Loader</div>

<ng-container *ngIf="!isLoading">
  <div class="flex items-center justify-between">
    <p>{{ author.name }}</p>
  </div>
  <p class="mb-2">{{ author.description }}</p>
  <div class="flex justify-end space-x-2 mb-4" *ngIf="isAdmin">
    <ng-container>
      <button class="p-2 bg-white rounded w-10 h-10" routerLink="edit">
        <img src="./assets/icons/edit.png" />
      </button>
      <button class="p-2 bg-red-500 rounded w-10 h-10" (click)="deleteAuthor()">
        <img src="./assets/icons/trash.png" />
      </button>
    </ng-container>
  </div>
  <div class="w-full">
    <img
      [src]="author.posterUrl"
      alt=""
      class="w-full h-full object-cover rounded" />
  </div>
</ng-container>
