<div class="h-[calc(100vh-48px)] flex justify-center items-center">
  <div class="w-80 bg-[#202020] p-4 rounded">
    <h2 class="text-2xl font-bold text-white mb-4">{{ title }}</h2>
    <form (submit)="submit()" [formGroup]="form">
      <input
        class="input"
        placeholder="Email"
        formControlName="email"
        type="text" />
      <input
        class="input"
        placeholder="Password"
        formControlName="password"
        type="password" />
      <input
        *ngIf="title === 'Register'"
        class="input"
        placeholder="Confirm Password"
        [(ngModel)]="confirm"
        [ngModelOptions]="{ standalone: true }"
        type="password" />
      <div class="flex justify-end">
        <button
          type="submit"
          class="btn-submit"
          [ngClass]="{
            'btn-submit-invalid':
              form.invalid ||
              (title === 'Register' && confirm !== form.value.password)
          }">
          {{ title }}
        </button>
      </div>
    </form>
  </div>
</div>
