<ng-container *ngIf="isLoading; else content">Loading</ng-container>

<ng-template #content>
  <ng-container *ngFor="let authors of chunk; let i = index">
    <div class="w-full flex items-start justify-between space-x-4 mb-8">
      <ng-container *ngIf="authors.length === 5; else authorsTemp">
        <div
          *ngFor="let item of authors"
          class="flex flex-col space-y-2 cursor-pointer w-52"
          [routerLink]="'/authors/' + item.id">
          <div class="flex items-center w-52 h-52">
            <img
              [src]="item.posterUrl"
              [alt]="item.name + ' Poster'"
              class="w-full h-full object-cover" />
          </div>
          <h2 class="font-semibold text-lg">{{ item.name }}</h2>
          <p>{{ item.description }}</p>
        </div>
      </ng-container>
      <ng-template #authorsTemp>
        <div
          *ngFor="let item of authors"
          class="flex flex-col space-y-2 cursor-pointer w-52"
          [routerLink]="'/authors/' + item.id">
          <div class="flex items-center w-52 h-52">
            <img
              [src]="item.posterUrl"
              [alt]="item.name + ' Poster'"
              class="w-full h-full object-cover" />
          </div>
          <h2 class="font-semibold text-lg">{{ item.name }}</h2>
          <p>{{ item.description }}</p>
        </div>
        <div
          *ngFor="let item of [].constructor(5 - authors.length).fill(0)"
          class="w-52"></div>
      </ng-template>
    </div>
  </ng-container>
</ng-template>
